* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

}


:root {
    --bg-color: #ffffff;
    --button-color: #a35307;
    --secondary-color: #797c80;
    --small-text: sans-serif;
}

body {
    background-color: var(--bg-color);
}

header {
    position: sticky;
    top: 0;
    z-index: 999;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 12rem;
    background-color: var(--bg-color);
}

.toggler {
    font-size: 2.5rem;
    text-decoration: none;
    color: #555454;
    display: none;
}

.toggler:hover {
    color: #000000;
}

.close-btn {
    font-size: 1.5rem;
    text-decoration: none;
    color: #636161;
    display: none;
}

.close-btn:hover {
    color: #000000;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 0.8rem;
    font-family: var(--small-text);
}

nav ul li a:hover {
    color: var(--button-color);
}

.btn {
    background-color: var(--button-color);
    padding: 10px 20px;
    border: none;
    border-radius: 0.5rem;
    text-decoration: none;
    color: var(--bg-color);
    font-family: sans-serif;
    font-size: 0.8rem;
    font-weight: bold
}

.btn:hover {
    background-color: #bd5f07;
}

/* //////HERO SECTION/////// */

.hero {
    display: flex;
    justify-content: center;

    align-items: center;
    text-align: center;
    background: url(images/BG.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 92vh;
}


@keyframes fadein {
    from {
        opacity: 0;
        transform: translatey(10px);

    }

    to {
        opacity: 1;
        transform: translatey(0);
    }
}

.hero-container {
    margin-bottom: 20px;
    animation: 1s fadein ease;
}


.hero p {
    color: var(--secondary-color);
    font-size: 1rem;
    font-family: var(--small-text);

}



.hero p {
    margin: 1rem;
    font-size: 1rem;
    line-height: 1.5;
    font-family: var(--small-text);
}

.hero h2 {
    font-size: 4.5rem;
    font-family: "Roboto Serif", serif;
    line-height: 1;
    margin: 1.5rem;
}

.web {
    color: var(--button-color);
    font-family: "Roboto Serif", serif;
}

.hero-btn {
    display: flex;
    justify-content: center;
    gap: 2rem;
    font-family: var(--small-text);
}

.hero-btn1 {
    text-decoration: none;
    padding: 15px 25px;
    background-color: var(--button-color);
    border-radius: 3rem;
    color: #ffffff;
}

.hero-btn1:hover {
    background-color: #bd5f07;
}

.hero-btn2 {
    text-decoration: none;
    padding: 15px 20px;
    background: none;
    border-radius: 3rem;
    color: var(--button-color);
    border: 1px solid var(--button-color);
}


.hero-btn2:hover {
    background-color: rgb(245, 243, 243);

}

/* ///////ABOUT SECTION//////////// */

.about {
    font-family: var(--small-text);
    background-color: #f3f2f2;
    padding: 10% 15%;
    min-height: 100vh;

}

.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
    border-bottom: 1px solid #cfcfcf;
    animation: 1s fadein ease;
}

.container1 {
    border-right: 1px solid #cfcfcf;
    padding: 10px;
}

.container1 p {
    color: var(--button-color);
    font-size: 0.9rem;
    margin-bottom: 1.5rem;
    line-height: 1.8;
}

.container1 h2 {
    font-size: 3.2rem;
    font-family: "Roboto Serif", serif;
    margin-bottom: 20px;
    line-height: 1;

}

.container1 h4 {
    font-size: 1.2rem;
    color: #797c80;
    margin: 1rem 0 1rem;
    line-height: 1.2;


}

.contaoner2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 500px;
}

.grid-card {
    padding: 20px 50px;
    text-align: left;
    border-radius: 10px;
}

.grid-card:hover {
    background-color: var(--bg-color);
}

.grid-card h2 {
    margin: 0;
    font-size: 50px;
    font-weight: 700;
    color: #111;
}

.grid-card p {
    color: var(--secondary-color);
    font-size: 0.8rem;
    margin: 5px 0 0;
}

/* ////////ABOUT SECTION2//////////// */

.about-section2 {
    display: flex;
    margin-top: 70px;
    justify-content: center;
    gap: 3rem;
    animation: 1s fadein ease;
}

.about-section2 span {
    font-size: 2.5rem;
    color: var(--button-color);
}

.about-section2 h3 {
    margin-bottom: 1rem;
}

.about-section2 p {
    color: var(--secondary-color);
    font-size: 0.7rem;
}

/* ///////PROJECT SECTION///////////// */

.project {
    background: url(images/bg2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--bg-color);
    min-height: 100vh;
    padding: 10% 15%;


}

.p-small {
    font-family: sans-serif;
    color: var(--button-color);
    font-size: 0.8rem;
    margin-bottom: 20px;
    animation: 1s fadein ease;
}

.project-firstcard {
    display: flex;
    justify-content: space-between;
    animation: 1s fadein ease;
}

.project-firstcard p {
    font-family: sans-serif;
    color: var(--button-color);
    font-size: 1.3rem;
    margin-top: 15%;
}

.project-firstcard h2 {
    font-size: 3.2rem;
    font-family: "Roboto Serif", serif;
    margin-bottom: 20px;
    line-height: 0.9;
}

/* /////PROJECT GRID///////////// */

.project-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    animation: 1s fadein ease;
}

.project-card {
    padding: 2rem 4rem;
    background-color: #111;
    border-radius: 10px;
    border: 1px solid #242424;
    transition: 0.3s ease;
}

.project-card:hover {
    background-color: #191a1b;
    transform: scale(1.05);
    border: 2px solid #37383a;
}

.span-number {
    font-size: 0.7rem;
    color: var(--button-color);
    background-color: #000000;
    padding: 8px;
    border-radius: 20px;
    border: 1px solid var(--button-color);
    font-weight: bold;

}

.project-card h3 {
    font-family: sans-serif;
    margin: 17px 0;
}

.project-card p {
    font-family: sans-serif;
    color: var(--secondary-color);
    font-size: 0.8rem;
    margin-bottom: 15px;
    line-height: 1.4;
}

.card-language span {
    padding: 4px 7px;
    background-color: #1f1f1f;
    border: 1px solid #2e2d2d;
    border-radius: 10px;
    color: var(--secondary-color)
}

.project-grid a {
    text-decoration: none;
    color: var(--bg-color);
}


/* ///////SKILL SECTION////////// */

.skills {
    min-height: 100vh;
    background-color: #191a1b;
    color: var(--bg-color);
    padding: 10% 15%;
}

.skills-small {
    font-family: sans-serif;
    color: var(--button-color);
    font-size: 0.9rem;
}

.skills-first {
    border-bottom: 1px solid #464749;
}

.skills-first h2 {
    font-size: 4rem;
    font-family: "Roboto Serif", serif;
    margin: 20px 0px;
    line-height: 1.3;
}

.skills-first span {
    color: var(--secondary-color);
}

.other-p {
    font-family: sans-serif;
    color: var(--secondary-color);
    line-height: 1.5;
    margin-bottom: 20px
}

.skill-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 50px;
    gap: 40px;
}

.skill-box h2 {
    font-family: sans-serif;
    font-size: 1rem;
    color: var(--button-color);
    margin-bottom: 20px;
}

.skill-info span {
    font-family: sans-serif;
    line-height: 3;
    font-size: 0.9rem;
}

.percentage{
    font-weight: bold;
}

.skill-info{
    display: flex;
    justify-content: space-between;
}

.skill-info span:last-child{
    color: var(--button-color);
}

.bar {
    width: 100%;
    height: 4px;
    background: var(--button-color);
    border-radius: 20px;
    overflow: hidden;
}

.progress {
    height: 100%;
    border-radius: 20px;
}





/* ////////////////MEDIA ///////////////// */

/* small phone */

@media (max-width: 460px) {

    nav {
        padding: 10px;
    }



    .nav-links {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        width: 70%;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        background: var(--bg-color);
    }

    .toggler {
        display: block;
    }

    .close-btn {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
    }

    .nav-link.active {
        display: flex;
    }

    .nav-link li a {
        display: none;
    }

    .btn {
        display: none;
    }

    /* //////HERO SECTION////// */

    .hero {
        display: flex;
        justify-content: center;

        align-items: center;
        text-align: center;
        background: url(images/BG.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        min-height: 92vh;
        padding: 20px;
    }

    .hero h2 {
        font-size: 2.5rem;
    }

    .hero-btn {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    /* ///ABOUT SECTION///// */

    .about {
        padding: 20px 50px;
    }

    .about-container {
        display: flex;
        flex-direction: column;
        padding: 2px;
    }

    .container1 {
        border-right: none;
        padding: 2px;
    }

    .container1 h2 {
        font-size: 2.5rem;
        line-height: 1.2;

    }

    .contaoner2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-width: 500px;
        margin: 10px;
    }


    .about-section2 {
        display: flex;
        flex-direction: column;
        margin-top: 70px;
        gap: 1.5rem;
        padding-bottom: 70px;

    }

    .about-section2 p {
        font-size: 1rem;
        line-height: 1.5;
    }

    .project {
        padding: 20px 50px;

    }

    .p-small {
        margin-top: 50px;
    }

    .project-firstcard {
        display: flex;
        flex-direction: column;
    }

    .project-firstcard p {
        display: none;
    }

    .project-grid {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
    }

    .card-language span {
        line-height: 2.5;
    }

    /* ///////SKILL SECTION///// */

    .skills{
        padding: 70px 50px;
    }

    .skills-first h2 {
    font-size: 2.5rem;
    }

    .skills-first{
        font-size: 0.8rem;
    }

    .skill-container{
        display: flex;
        flex-direction: column;
        gap: 60px;
    }

}




/* big phone/phones */